<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
    <table>
        <tr>
            <th>Car ID</th>
            <th>Driver</th>
            <th>Seats</th>
            <th>Price per km</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}">Car ID</td>
            <td th:text="${car.getDriver()}">Driver</td>
            <td th:text="${car.getSeats()}">Seats</td>
            <td th:text="${car.getCategory().getKmPrice()}">Price per km</td>
            <td th:text="${car.getCategory()}">Category</td>
            <td th:text="${car.getStatus()}">Status</td>
        </tr>
    </table>
</body>
</html>