<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style th:replace="fragments/styling :: styling"></style>
    <div th:replace="fragments/header :: imports"></div>
    <title>Confirmation page</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="form-signin">
    <table class="table table-bordered caption-top" th:object="${confirmationOrder}">
        <caption th:text="#{your.order}">Your order</caption>
        <tr>
            <th th:text="#{departure.address}"></th>
            <td>
                <p th:text="${confirmationOrder.getDepartureAddress()}"></p>
            </td>
        </tr>
        <tr>
            <th th:text="#{destination.address}"></th>
            <td>
                <p th:text="${confirmationOrder.getDestinationAddress()}"></p>
            </td>
        </tr>
        <tr>
            <th th:text="#{distance}"></th>
            <td>
                <p th:text="${confirmationOrder.getDistance()}"></p>
            </td>
        </tr>
        <tr>
            <th th:text="#{passengers}"></th>
            <td>
                <p th:text="${confirmationOrder.getPassengers()}"></p>
            </td>
        </tr>
        <tr>
            <th th:text="#{category}"></th>
            <td>
                <p th:text="${confirmationOrder.getCar().getCategory()}"></p>
            </td>
        </tr>
        <tr>
            <th th:text="#{price}"></th>
            <td>
                <p th:text="${confirmationOrder.getPrice()}"></p>
            </td>
        </tr>
    </table>
    <form th:action="@{/success}" th:method="get">
        <button  class="btn btn-lg btn-primary btn-block" th:text="#{confirm}" type="submit">Confirm</button>
    </form>
</div>

</body>
</html>