<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style th:replace="fragments/styling :: styling"></style>
    <div th:replace="fragments/header :: imports"></div>
    <title>Confirmation page</title>
</head>
<body>
<div th:fragment="confirmation" class="container">
    <form class="form-signin" th:action="@{/order-success}" th:object="${confirmationOrder}" th:method="POST">
        <table class="table table-bordered caption-top">
            <caption th:text="#{your.order}">Your order</caption>
            <tr>
                <th th:text="#{departure.address}"></th>
                <td>
                    <p th:text="${confirmationOrder.getDepartureAddress()}"></p>
                    <input type="text" th:field="*{departureAddress}" readonly="readonly" hidden>
                </td>
            </tr>
            <tr>
                <th th:text="#{destination.address}"></th>
                <td>
                    <p th:text="${confirmationOrder.getDestinationAddress()}"></p>
                    <input type="text" th:field="*{destinationAddress}" readonly="readonly" hidden>
                </td>
            </tr>
            <tr>
                <th th:text="#{distance}"></th>
                <td>
                    <p th:text="${confirmationOrder.getDistance()}"></p>
                    <input type="text" th:field="*{distance}" readonly="readonly" hidden>
                </td>
            </tr>
            <tr>
                <th th:text="#{passengers}"></th>
                <td>
                    <p th:text="${confirmationOrder.getPassengers()}"></p>
                    <input type="text" th:field="*{passengers}" readonly="readonly" hidden>
                </td>
            </tr>
            <tr>
                <th th:text="#{category}"></th>
                <td>
                    <p th:text="${confirmationOrder.getCar().getCategory()}"></p>
                    <!--TODO INPUT NORMAL VALUE -->
                    <input type="text" th:field="*{car}" readonly="readonly" hidden>
                </td>
            </tr>
            <tr>
                <th th:text="#{price}"></th>
                <td>
                    <p th:text="${confirmationOrder.getPrice()}"></p>
                    <input type="text" th:field="*{price}" readonly="readonly" hidden>
                    <input type="text" th:field="*{user}" readonly="readonly" hidden>
                </td>
            </tr>
        </table>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{confirm}" type="submit">Confirm</button>
    </form>
</div>

</body>
</html>