<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>DEPARTURE_ADDRESS</th>
            <th>DESTINATION_ADDRESS</th>
            <th>PRICE</th>
            <th>CAR</th>
            <th>USER</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getId()}">VALUE</td>
            <td th:text="${order.getDate()}">VALUE</td>
            <td th:text="${order.getDepartureAddress()}">VALUE</td>
            <td th:text="${order.getDestinationAddress()}">VALUE</td>
            <td th:text="${order.getPrice()}">VALUE</td>
            <td th:text="${order.getCar().getId()}">VALUE</td>
            <td th:text="${order.getUser().getId()}">VALUE</td>
        </tr>
    </table>
</body>
</html>